---
layout: page
title: Education
---
<div class="row"> 
<div class="column">
 
<div class="card">
<img class="card-img" src="/applogos/google-classroom.jpg" alt="Google Classroom" style="width:100%">

<div class="card-container">
<h4>Google Classroom</h4>

Google Classroom is a web service developed by Google for schools that aims to simplify creating, distributing, and grading assignments. Note: This is not the official Google Classroom web app.
<br><br>
<p><strong>Free/Libre Software</strong>: No</p>
<p><strong>Checked for security</strong>: Yes</p>
<p><strong>Security notes</strong>: While this web app is open source, Google Classroom is not.</p>
<p><strong>Packager(s)</strong>: Rudra Saraswat</p>

<a style="margin-right: 16px;" href="https://github.com/Ubuntu-Web/google-classroom/releases/latest/download/install-google-classroom">Download</a><a href="https://github.com/Ubuntu-Web/google-classroom/">More information</a>

</div>
</div>
  
</div>

<div class="column">
<div class="card">
<img class="card-img" src="https://the-sunshining.github.io/SunBible_IMG_Library/Main_IMG/SunBibleLogoCollection/logo_transparent.png" alt="SunBible" style="width:100%">

<div class="card-container">
<h4>SunBible</h4>

SunBible is a beautiful way to read, study, and memorize the Bible by The SunShining.
<br><br>
<p><strong>Free/Libre Software</strong>: Yes</p>
<p><strong>Checked for security</strong>: No</p>
<p><strong>Security notes</strong>: None.</p>
<p><strong>Packager(s)</strong>: The SunShining</p>

<a style="margin-right: 16px;" href="https://github.com/SunBible-dev/SunBible-Ubuntu-Web/releases/download/0.0.1/install-SunBible">Download</a><a href="https://github.com/SunBible-dev/SunBible-Ubuntu-Web">More information</a>

</div>
</div>

</div>
 
<div class="column">

</div>

</div>
