---
layout: page
title: Web Services
---
<div class="row"> 
<div class="column">
 
<div class="card">
<img class="card-img" src="https://github.com/Ubuntu-Web/opendesktop/raw/master/icon.png" alt="Opendesktop" style="margin-left: auto; margin-right: auto; width: 50%">

<div class="card-container">
<h4>Opendesktop</h4>

Opendesktop is a libre platform providing free cloud storage, online office editing, contacts & calender tools, personal chat and messaging, as well as project development and product publishing to anyone who values freedom and openness. Note: This is not the official Opendesktop web app.
<br><br>
<p><strong>Free/Libre Software</strong>: Yes</p>
<p><strong>Checked for security</strong>: Yes</p>
<p><strong>Security notes</strong>: None.</p>
<p><strong>Packager(s)</strong>: Rudra Saraswat</p>

<a style="margin-right: 16px;" href="https://github.com/Ubuntu-Web/opendesktop/releases/latest/download/install-opendesktop">Download</a><a href="https://github.com/Ubuntu-Web/opendesktop/">More information</a>
</div>
</div>

</div>

<div class="column">
 
<div class="card">
<img class="card-img" src="https://github.com/Ubuntu-Web/opendesktop-files/raw/main/icon.png" alt="Opendesktop Files" style="margin-left: auto; margin-right: auto; width: 50%">

<div class="card-container">
<h4>Opendesktop Files</h4>

Easy access to files, photos and documents to work and share with team members, customers and partners. Note: This is not the official Opendesktop Files web app.
<br><br>
<p><strong>Free/Libre Software</strong>: Yes</p>
<p><strong>Checked for security</strong>: Yes</p>
<p><strong>Security notes</strong>: None.</p>
<p><strong>Packager(s)</strong>: Rudra Saraswat</p>

<a style="margin-right: 16px;" href="https://github.com/Ubuntu-Web/opendesktop-files/releases/latest/download/install-opendesktop-files">Download</a><a href="https://github.com/Ubuntu-Web/opendesktop-files/">More information</a>
</div>
</div>
   
</div>
 
<div class="column">

<div class="card">
<img class="card-img" src="https://github.com/Ubuntu-Web/opendesktop-files/raw/main/icon.png" alt="Opendesktop Files" style="margin-left: auto; margin-right: auto; width: 50%">

<div class="card-container">
<h4>Google Drive</h4>

Proprietary file storage service by Google.
<br><br>
<p><strong>Free/Libre Software</strong>: No</p>
<p><strong>Checked for security</strong>: Yes</p>
<p><strong>Security notes</strong>: While this web app is open source, Google Drive is not.</p>
<p><strong>Packager(s)</strong>: Rudra Saraswat</p>

<a style="margin-right: 16px;" href="https://github.com/Ubuntu-Web/opendesktop-files/releases/latest/download/install-opendesktop-files">Download</a><a href="https://github.com/Ubuntu-Web/opendesktop-files/">More information</a>
</div>
</div>

</div>
   
</div>
</div>
